server {
    listen ${PORT};
    server_name localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    # Cache estático para o JSON e recursos web
    location ~* \.(json|css|js)$ {
        root /usr/share/nginx/html;
        expires 1d;
        add_header Cache-Control "public, no-transform";
    }
}